body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: #1f2937;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  padding:0;
  margin: 0;
  margin: 10px 0 0 10px;  /* top and left */
  font-size: 17px;
  list-style-type: none;
  display: flex;
  gap: 10px;
  color: rgb(214, 214, 214);
}

.header .left-side {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 10px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.top-content {
  background-color:#1f2937; 
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.top-content button {
  flex-shrink: 0;
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 15px;
  border-radius: 10px;
  width: 90px;
  height: 40px;
}

.top-content .left-side {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.middle-content {
  flex: 1;  /* most important, makes the sidebar and card-collection stick to footer*/
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.middle-content h2 {
  font-size: 36px;
  margin: 10px auto;
}

.card {
  padding: 20px;
  margin: 20px;
  width: 150px;
  min-height: 200px;
}
.card .text {
  font-size: 20px;
}

.card img {
  border: 2px solid rgba(41, 0, 191, 0.275);
  box-shadow: 0px 0px 18px rgb(41, 0, 191);
  border-radius: 20px;
  padding: 5px;
  margin: auto;
  width: 150px;
  height: 150px;
}

.card img:hover {
  border: 2px solid rgba(191, 0, 0, 0.275);
  box-shadow: 5px 5px 18px rgb(191, 0, 0);
}

.card-collection {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.citation {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}

.citation-text {
  max-width: 800px;
  min-width: 100px;
  max-height: 400px;
  min-height: 40px;
  font-size: 25px;
  color: #1f2937;
  margin: 0 auto;
}

.citation-author {
  align-self: end;
  margin: 0;
}

.sign-up {
  color: #F9FAF8;
  background-color:  #3882F6;
  min-width: 500px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.sign-up a {
  font-size: 30px;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  background-color:  #3882F6;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100px;
  height: 100px;
  margin: 0;
}

.sign-up a:hover {
  color: #3882F6;
  border: 2px solid #3882F6;
  background-color:  #F9FAF8;
  border: 2px solid rgba(56, 130, 246, 0.275);
  box-shadow: 0px 0px 15px rgb(200, 200, 200);
}

.details,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .details {
  display: block;
}
/* * { border: 1px dashed red; } */